    
                        <div class="col-lg-12 pb-3">
                        {% set image = page.media.images|first %}
                            {% if image %}
                            <div class="card-image">
                                <img class="card-img-top" src="{{ image.url|e }}" alt="{{ item.alt|e }}" title="{{ item.title|e }}" />                                                              
                            </div>
                            {% endif %}
                            <h2><a class="headlink" href="{{ page.url }}">{{ page.title }}</a></h2>
                            <div class="small text-muted">{% include 'partials/blog/date.html.twig' %} {% if page.header.author %}// {{ page.header.author|e }}{% endif %}</div>
                            {% if page.summary != page.content %}
                                {{ page.summary|raw }}
                            {% else %}
                                {{ page.content|raw }}
                            {% endif %}
                        </div>

