        <div class="container">
            <div class="col-lg-10 nav-size">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">&copy 2024 Christian Heinisch <br />Made with <a href="https://getgrav.org/">GRAV</a> and <i class="bi-heart"></i></p>
            {% if theme_var('socialicons.enable') %}
            <ul class="nav col-md4 justify-content-center">
                {% if theme_var('socialicons.github') %}<li class="nav-item"><a href="https://github.com/{{ theme_var('socialicons.github') }}" class="nav-link px-2 text-body-secondary"><i class="bi-github"></i></a></li>{% endif %}
                {% if theme_var('socialicons.instagram') %}<li class="nav-item"><a href="https://instagram.com/{{ theme_var('socialicons.instagram') }}" class="nav-link px-2 text-body-secondary"><i class="bi-instagram"></i></a></li>{% endif %}
                {% if theme_var('socialicons.facebook') %}<li class="nav-item"><a href="https://facebook.com/{{ theme_var('socialicons.facebook') }}" class="nav-link px-2 text-body-secondary"><i class="bi-facebook"></i></a></li>{% endif %}
                {% if theme_var('socialicons.youtube') %}<li class="nav-item"><a href="https://youtube.com/{{ theme_var('socialicons.youtube') }}" class="nav-link px-2 text-body-secondary"><i class="bi-youtube"></i></a></li>{% endif %}
                {% if theme_var('socialicons.tiktok') %}<li class="nav-item"><a href="https://tiktok.com/{{ theme_var('socialicons.tiktok') }}" class="nav-link px-2 text-body-secondary"><i class="bi-tiktok"></i></a></li>{% endif %}
                {% if theme_var('socialicons.twitter') %}<li class="nav-item"><a href="https://twitter.com/{{ theme_var('socialicons.twitter') }}" class="nav-link px-2 text-body-secondary"><i class="bi-twitter"></i></a></li>{% endif %}
            </ul>
            {% endif %}
            <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
        </footer>
    </div>
        </div>
