{% set pagination = pagination|default(page.collection.params.pagination) %}
{% set base_url = base_url|default(page.url) %}

{% if pagination|length > 1 %}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if pagination.hasPrev %}
    <li class="page-item">
      <a class="page-link" href="{{ url }}">{{ 'THEME_BLOGTHEME.BLOG.LIST.PREV_SITE'|t }}</a>
    </li>
    {% else %}    
    <li class="page-item disabled">
     <span class="page-link">{{ 'THEME_BLOGTHEME.BLOG.LIST.PREV_SITE'|t }}</span>
    </li>
    {% endif %}
    {% for paginate in pagination %}
        {% if paginate.isCurrent %}
            <li class="page-item active" aria-current="page">
                      <span class="page-link">{{ paginate.number }}</span>
            </li>
        {% elseif paginate.isInDelta %}
            <li class="page-item">
                {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
                <a class="page-link" href="{{ url }}">{{ paginate.number }}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if pagination.hasNext %}
    <li class="page-item">
      {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        <a class="page-link" href="{{ url }}">{{ 'THEME_BLOGTHEME.BLOG.LIST.NEXT_SITE'|t }}</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">{{ 'THEME_BLOGTHEME.BLOG.LIST.NEXT_SITE'|t }}</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}